---
import MainLayout from "~/layouts/MainLayout.astro";

import Name from "~/components/Name.tsx";
import About from "~/components/About.tsx";
import Projects from "~/components/Projects.tsx";
import Globe from "~/components/Globe.tsx";
import Stacks from "~/components/Stacks.tsx";
import Socials from "~/components/Socials.tsx";
import DevelopedBy from "~/components/DevelopedBy.tsx";
---

<MainLayout>
  <main
    class="h-full container mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows xl:grid-rows-4 gap-4 md:gap-6 p-4 xl:min-h-[700px]"
  >
    <div class="card row-start-1 md:col-start-2">
      <Name />
    </div>

    <div
      class="card row-start-2 md:col-start-2 xl:col-start-3 xl:row-start-1 xl:row-span-2"
    >
      <About />
    </div>

    <div
      class="card row-start-3 md:col-start-2 md:row-span-2 xl:row-span-3 xl:col-start-2 xl:row-start-2"
    >
      <Projects />
    </div>

    <div
      class="card row-start-4 md:row-start-3 md:col-start-1 xl:row-span-2 xl:col-start-3 xl:row-start-3"
    >
      <Stacks />
    </div>

    <div
      class="card row-start-5 md:row-start-4 md:col-span-1 xl:col-span-1 xl:col-start-1 xl:row-start-4"
    >
      <Socials />
    </div>

    <div
      class="card row-start-6 md:row-start-1 md:col-start-1 md:row-span-2 xl:row-end-4"
    >
      <Globe client:idle />
    </div>
  </main>

  <DevelopedBy />
</MainLayout>

<style>
  @media (max-width: 768px) {
    .grid-rows {
      grid-template-rows: repeat(6, auto);
    }
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    .grid-rows {
      grid-template-rows: repeat(4, auto);
    }
  }

  .card {
    z-index: 1;
    position: relative;
    border: 1px solid transparent;
    border-radius: 2rem;
    background:
      padding-box linear-gradient(rgb(var(--neutral-2)), rgb(var(--neutral-2))),
      border-box
        linear-gradient(rgb(var(--neutral-4)), rgb(var(--neutral-3) / 0.5));
    overflow: hidden;

    @apply transition ring-2 ring-offset-0 ring-neutral-5 ring-offset-neutral-1;

    &:hover {
      @apply ring-offset-2 lg:ring-offset-4;
    }
  }

  .card::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
</style>
