---
import type { HTMLAttributes } from "astro/types";

import "~/styles/globals.ts";

type Props = HTMLAttributes<"html"> & {
  title?: string;
  description?: string;
};

const { title = "Enzo Filippo", description = title, ...html } = Astro.props;
---

<html lang="en" data-theme="dark" {...html}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- TODO : fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <slot name="head" />
  </head>

  <body class="flex flex-col justify-center min-h-screen">
    <slot name="body" />
  </body>
</html>
